# Generated artifacts retain upstream formatting and embedded license text.
plugins/tracing/dist/index.mjs -whitespace linguist-generated=true
plugins/tracing/THIRD_PARTY_NOTICES.txt -whitespace linguist-generated=true
